{% extends "templates/partials/base.j2" %}
{% block title %}Über das Projekt{% endblock title %}
{% block page_description %}
<meta name="description" content="Über das Projekt">
{% endblock page_description %}

{% block content %}
<div class="container">
    
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-7">
            <h2 class="text-center display-8 pb-2">Über das Projekt</h2>
            <p>Der Nachlass von Arthur Schnitzler (1862–1931) konnte 1938
            durch die mutige Aktion eines englischen Germanisten 
            vor dem Zugriff der Nationalsozialisten geschützt und in die
            Cambridge University Library gebracht werden. Nach 1945 wurde
            aber nur ein Teil davon an den Sohn und Alleinerben Heinrich
            Schnitzler zurückgegeben. (Dieser Teil befindet sich heute
            im Deutschen Literaturarchiv in Marbach am Neckar.) Der Großteil des literarischen
            Werks und die Korrespondenzen mit den bedeutendsten Zeitgenossinnen
            und -zeitgenossen behielt sich die englische Universitätsbibliothek.</p>
            <p>Um Heinrich Schnitzler Zugang zum Material zu gewähren, wurden in
            den folgenden Jahren Mikrofilme des Nachlasses hergestellt. Sie dokumentieren
            in nicht systematischer Folge (und nicht vollständig) die Mappen des
            Cambridger Bestandes und werden hier erstmals frei zugänglich gemacht.</p>
            <p>Vier Kopien der Mikrofilme sind überliefert: Im Deutschen Literaturarchiv
            Marbach das Exemplar Heinrich Schnitzlers. Es ist durch die Benutzung so in 
            Mitleidenschaft genommen, dass es heute nicht mehr konsultiert werden
            kann. Eines als Geschenk Heinrich Schnitzlers an das Arthur-Schnitzler-Archiv in Freiburg im Breisgau, das darauf
            aufbauend erst errichtet wurde. So entstand ein gedrucktes Nachlassverzeichnis, das 
            durchaus sinnvolle Umordnungen vornahm, zugleich aber für eine doppelte Abweichung von
            der Quelle sorgte: Während in Cambridge die Originalmaterialien teilweise neu strukturiert
            wurden, und Mappeninhalte auf dem Mikrofilm dokumentiert sind, die in Cambridge verlustig
            gegangen sind, bedeutet die Freiburger Ordnung eine zusätzliche Konfusion.
            Die letzten beiden Exemplare finden sich in den U.S.A.: Eines in Binghampton, wohin Heinrich Schnitzler gehofft hatte,
            den Nachlass transferieren zu können. Und an der University of California, Los Angeles (UCLA),
            den zeitweiligen Arbeitsort von 
             Heinrich Schnitzler. Dieses vierte Exemplar wurde in den 
            letzten Jahren in mehreren Etappen im Zuge der FWF-Projekte zur Korrespondenz
            Schnitzlers mit Hermann Bahr und zur beruflichen Korrespondenz  
            digitalisiert und wird hier nun frei zugänglich gemacht.</p>
            <p>Folgende Eingriffe wurden vorgenommen:</p>
            <ul>
            <li>Die Bilder der Filme wurden in Ordner gruppiert (diese entsprechen den heutigen
            Mappennummern), wobei besonders umfangreiche Konvolute aufgeteilt wurden. Zum Teil 
            wurden dafür die Grenzen der Mikrofilme benutzt.</li>
            <li>Wenn sich weitere Unterteilungskriterien anboten, wurden auch diese
            Übernommen.</li>
            <li>Die Rechte an Schnitzler sind in Österreich längst abgelaufen, weswegen diese
            Reproduktionen problemlos veröffentlicht werden können. Das trifft aber nicht 
            auf alle Briefpartner zu. Folgende Korrespondenzpartnerinnen und -partner finden
            sich zwar auf Mikrofilm, nicht aber auf dieser Website: Richard Charmatz, 	
Herbert	Cysarz,
 Rudolf	Holzer, 
 Hermann Kesser,
 Max Krell, Jonas Lesser,
	Ernst Lothar, Franz Nabl,
            Fritz von Unruh.</li>
            <li>Rund um die Mappe mit »Frau Bertha Garlan« dürften die Blätter
            vor oder zum Zeitpunkt der Mikroverfilmung durcheinandergekommen sein. 
            Diese Unordung wurde behoben und
            die jeweiligen Digitalisate den entsprechenden
            Werken zugeordnet. Die (Un-)Ordnung des Mikrofilms kann durch das
            Studium der Dateinamen ermittelt werden.</li>

            
            </ul>
            

            <p>


            <a href="https://www.arthur-schnitzler.de/biobibliographika/nachlassverzeichnis/" target="_blank">Nachlassverzeichnis</a>

            
            
            </p>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

{% endblock content %}