{% extends "templates/partials/base.j2" %}
{% block title %}Über das Projekt{% endblock title %}
{% block page_description %}
<meta name="description" content="Über das Projekt">
{% endblock page_description %}

{% block content %}
<div class="container">

    <div class="row">
        <div class="col-md-2"/>
        <div class="col-md-7">
            <h2 class="text-center display-8 pb-2">Über das Projekt</h2>
            <p>Der Nachlass von Arthur Schnitzler (1862–1931) konnte 1938 durch die mutige Aktion
                des englischen Germanisten Eric A. Blackall vor dem Zugriff der Nationalsozialisten
                geschützt und in die Cambridge University Library gebracht werden. Nach 1945 wurde
                nur ein Teil davon an den Sohn und Alleinerben Heinrich Schnitzler zurückgegeben.
                Dieser Teil befindet sich heute im Deutschen Literaturarchiv in Marbach am Neckar.
                Der Großteil des literarischen Werks und die Korrespondenzen mit den bedeutendsten
                Zeitgenossinnen und -zeitgenossen behielt sich die englische Universitätsbibliothek.
                In geringem Maße enthalten die Mikrofilme Texte, deren Originale seither
                verlustig gegangen sind. Das betrifft beispielsweise die Selbstkritik Schnitzlers über die
                eigenen Werke, die er anlässlich der Re-Lektüre in Vorbereitung der <em>Gesammelten
                    Werke</em> von 1912 niederschrieb.</p>
            <p>Um Heinrich Schnitzler Zugang zum Material zu gewähren, wurden in den folgenden
                Jahren Mikrofilme des Nachlasses hergestellt. Sie dokumentieren in nicht
                systematischer Folge (und nicht vollständig) die Mappen des Cambridger Bestandes und
                werden hier erstmals frei zugänglich gemacht.</p>
            <p>Zur Ordnung innerhalb der Mappen ist anzumerken, dass viele Seiten nicht paginiert
                sind. Während durch die Benutzerinnen und Benutzer Umordnungen der Originale möglich
                sind, dokumentiert die Verfilmung die früheste überlieferte Ordnung. In Fällen, wo
                der Anschluss einer Manuskriptseite zum vorhergehenden Blatt nicht mit voller
                Gewissheit hergestellt werden kann, ist zumindest die Ordnung ein gewichtiges Indiz
                für den Zusammenhang.</p>
            <p>Vier Kopien der Mikrofilme sind überliefert:</p>
            <ul>
                <li>Im Deutschen Literaturarchiv in Marbach am Neckar wird das Exemplar Heinrich
                    Schnitzlers aufbewahrt. Es ist durch die Benutzung so in Mitleidenschaft gezogen
                    worden, dass es heute nicht mehr konsultiert werden kann.</li>
                <li>Ein Exemplar liegt im Arthur-Schnitzler-Archiv in Freiburg im Breisgau. Dieses
                    war ein Geschenk Heinrich Schnitzlers und gab überhaupt erst Anlass zur
                    Errichtung des Archivs. In Folge entstand ein gedrucktes Nachlassverzeichnis,
                    das durchaus sinnvolle Umordnungen vornahm, zugleich aber für eine doppelte
                    Abweichung von der Quelle sorgte: Schon in Cambridge waren die
                    Originalmaterialien teilweise neu strukturiert und Mappeninhalte auf dem
                    Mikrofilm dokumentiert worden, die verlustig gegangen waren. Die Freiburger
                    Ordnung bedeutet eine zusätzliche Konfusion.</li>
                <li>Ein weiteres Exemplar wird in Binghampton (New York) aufbewahrt. Heinrich
                    Schnitzler hatte gehofft, den Nachlass dorthin transferieren zu können.</li>
                <li>Das vierte Exemplar findet sich ebenfalls in den USA, an der University of
                    California, Los Angeles (UCLA), dem zeitweiligen Arbeitsort Heinrich
                    Schnitzlers. Dieses Exemplar wurde in den letzten Jahren in mehreren Etappen im
                    Zuge der FWF-Projekte zur Korrespondenz Schnitzlers mit Hermann Bahr und anderen
                    Autorinnen und Autoren digitalisiert und wird hier nun frei zugänglich
                    gemacht.</li>
            </ul>
            <p>In einem Zwischenschritt wurden alle Bilder auf <a
                    href="https://readcoop.eu/transkribus/" target="_blank">Transkribus</a> geladen,
                eine Plattform zur Handschriften- und Drucktexterkennung. Hier wurde eine
                automatische Texterkennung durchgeführt. Die Entzifferung von Schnitzlers
                Handschrift, die diesem selbst nachweislich Probleme machte, gelang dem Algorithmus
                – wenig überraschend – nicht. Auch sind die Schwarz-Weiß-Reproduktionen der
                Mikrofilme nicht durchwegs von guter Qualität und besonders schlecht, wenn Bleistift
                oder Buntstift gesichert werden sollte. Auf diesen Seiten produzierte die Erkennung
                schlichtweg Buchstabenmüll. Das präsentierte Korpus enthält allerdings große Mengen
                mit Schreibmaschine verfasster, gedruckter und von anderer Hand geschriebener Texte.
                Für diese ist die auf Typesense basierende Suche nun eine einfache Möglichkeit,
                Stellen zu finden.</p>
            <p>Folgende Eingriffe wurden vorgenommen:</p>
            <ul>
                <li>Die Bilder der Filme wurden in Ordner gruppiert, die den heutigen Mappennummern
                    entsprechen. Besonders umfangreiche Konvolute wurden aufgeteilt. Dafür wurden
                    zum Teil die Grenzen der Mikrofilme benutzt.</li>
                <li>Wenn sich weitere Unterteilungskriterien anboten, wurden auch diese
                    angewandt.</li>
                <li>Da die Rechte an Schnitzlers Nachlass in Österreich längst abgelaufen sind, kann
                    diese Reproduktion problemlos veröffentlicht werden. Das trifft jedoch nicht auf
                    alle Briefpartnerinnen und -partner zu. Korrespondenzpartnerinnen und -partner,
                    die zum Stichtag 1. Januar 2024 noch nicht rechtefrei waren, wurden zwar
                    digitalisiert, werden aber nicht zugänglich gemacht. Das betrifft beispielsweise
                    Richard Charmatz, Herbert Cysarz, Rudolf Holzer, Hermann Kesser, Max Krell,
                    Jonas Lesser, Ernst Lothar, Franz Nabl und Fritz von Unruh.</li>
                <li>Rund um die Mappe zu <em>Frau Bertha Garlan</em> dürften die Blätter vor oder
                    während der Mikroverfilmung durcheinandergekommen sein. Diese Unordung wurde
                    behoben. Die jeweiligen Digitalisate sind nun also den entsprechenden Werken
                    zugeordnet. Die (Un-)Ordnung des Mikrofilms kann durch das Studium der
                    Dateinamen ermittelt werden.</li>
            </ul>
            <p>An allen Inhalten, die von uns auf dieser Seite zur Verfügung gestellt werden, machen wir kein urheberrechtliches Verwertungsrecht geltend.
             Es wird jedoch darauf hingewiesen, dass Rechte Dritter für jede Form der Nachnutzung individuell zu klären sind.</p>
            <p>Das Ziel ist nicht, die automatische Texterkennung manuell zu korrigieren. Für
                zentrale Werkmanuskripte der frühen Schaffenszeit liegen mit den seit 2011
                erscheinenden gedruckten historisch-kritischen Ausgaben (herausgegeben von Konstanze
                Fliedl) verlässliche Umschriften vor. Die jüngsten Erscheinungen sind auch als PDF
                über <a
                    href="https://library.oapen.org/discover?query=arthur+schnitzler&filtertype_0=language&filtertype_1=publisher&filter_relational_operator_1=authority&filter_relational_operator_0=equals&filter_1=2b386f62-fc18-4108-bcf1-ade3ed4cf2f3&filter_0=German&filtertype=collection&filter_relational_operator=equals&filter=Austrian+Science+Fund+%28FWF%29"
                    target="_blank">OAPEN</a> verfügbar. Spätere literarische Werke werden in
                Cambridge (von Judith Beniston und Andrew Webber) und Wuppertal (von Wolfgang Lukas
                und Michael Scheffel) ediert und sind auf der gemeinsamen Plattform <a
                    href="https://www.arthur-schnitzler.de/" target="_blank">Arthur Schnitzler
                    digital</a> zu finden. Hier sind die Digitalisate ebenfalls transkribiert und in
                Farbe einsehbar, wodurch dieser Teil der Mikroverfilmung obsolet ist. Ähnliches gilt
                für die Korrespondenzen mit Autorinnen und Autoren, die wir auf <a
                    href="https://schnitzler-briefe.acdh.oeaw.ac.at/"
                    >https://schnitzler-briefe.acdh.oeaw.ac.at</a> präsentieren. Die Faksimiles wurden
                auch in diesem Fall von der Cambridge University Library neu und in Farbe erstellt.</p>
            <div class="text-end">Peter Andorfer, Martin Anton Müller und Laura Untner, Wien, Mai
                2024</div>

        </div>
        <div class="col-md-2"/>
    </div>
</div>

{% endblock content %}