{% extends "templates/partials/base.j2" %}
{% block title %}Über das Projekt{% endblock title %}
{% block page_description %}
<meta name="description" content="Über das Projekt">
{% endblock page_description %}

{% block content %}
<div class="container">
    
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-7">
            <h2 class="text-center display-8 pb-2">Über das Projekt</h2>
            <p>Der Nachlass von Arthur Schnitzler (1862–1931) konnte 1938
            durch die mutige Aktion eines englischen Germanisten 
            vor dem Zugriff der Nationalsozialisten geschützt und in die
            Cambridge University Library gebracht werden. Nach 1945 wurde
            aber nur ein Teil davon an den Sohn und Alleinerben Heinrich
            Schnitzler zurückgegeben. (Dieser Teil befindet sich heute
            im Deutschen Literaturarchiv in Marbach am Neckar.) Der Großteil des literarischen
            Werks und die Korrespondenzen mit den bedeutendsten Zeitgenossinnen
            und -zeitgenossen behielt sich die englische Universitätsbibliothek.</p>
            <p>Um Heinrich Schnitzler Zugang zum Material zu gewähren, wurden in
            den folgenden Jahren Mikrofilme des Nachlasses hergestellt. Sie dokumentieren
            in nicht systematischer Folge (und nicht vollständig) die Mappen des
            Cambridger Bestandes und werden hier erstmals frei zugänglich gemacht.</p>
            <p>Die Mikrofilme dokumentieren in geringem Maße Texte, deren Originale 
            seither verlustig gegangen sind, beispielsweise die Selbstkritik Schnitzlers
            über die eigenen Werke, die er anlässlich der Re-Lektüre in Vorbereitung der
            »Gesammelten Werke« von 1912 niederschrieb. Ebenfalls relevant sind die
            Ordnungen innerhalb der Mappen, da viele Seiten nicht paginiert sind. Während durch 
            die Benutzerinnen und Benutzer Umordnungen der Originale möglich sind, dokumentiert
            die Verfilmung die früheste überlieferte Ordnung. In Fällen, wo der Anschluss
            einer Manuskriptseite zum vorhergehenden Blatt nicht mit voller Gewissheit
            hergestellt werden kann, ist dies zumindest ein gewichtiges Indiz für den 
            Zusammenhang.</p>
            <p>Vier Kopien der Mikrofilme sind überliefert: Im Deutschen Literaturarchiv
            Marbach das Exemplar Heinrich Schnitzlers. Es ist durch die Benutzung so in 
            Mitleidenschaft genommen, dass es heute nicht mehr konsultiert werden
            kann. Eines als Geschenk Heinrich Schnitzlers an das Arthur-Schnitzler-Archiv in Freiburg im Breisgau, das darauf
            aufbauend erst errichtet wurde. So entstand ein gedrucktes Nachlassverzeichnis, das 
            durchaus sinnvolle Umordnungen vornahm, zugleich aber für eine doppelte Abweichung von
            der Quelle sorgte: Während in Cambridge die Originalmaterialien teilweise neu strukturiert
            wurden, und Mappeninhalte auf dem Mikrofilm dokumentiert sind, die in Cambridge verlustig
            gegangen sind, bedeutet die Freiburger Ordnung eine zusätzliche Konfusion.
            Die letzten beiden Exemplare finden sich in den U.S.A.: Eines in Binghampton, wohin Heinrich Schnitzler gehofft hatte,
            den Nachlass transferieren zu können. Und an der University of California, Los Angeles (UCLA),
            den zeitweiligen Arbeitsort von 
             Heinrich Schnitzler. Dieses vierte Exemplar wurde in den 
            letzten Jahren in mehreren Etappen im Zuge der FWF-Projekte zur Korrespondenz
            Schnitzlers mit Hermann Bahr und zur beruflichen Korrespondenz  
            digitalisiert und wird hier nun frei zugänglich gemacht.</p>
            <p>In einem Zwischenschritt wurden alle Bilder auf die Plattform zur Handschriften-
            und Drucktexterkennung <a href="https://readcoop.eu/transkribus/" target="_blank">Transkribus</a> geladen und hier
             eine automatische Erkennung der Textinhalte gestartet. Die Entzifferung von Schnitzlers
             Handschrift, die diesem selbst nachweislich Probleme machte, gelang dem Algorithmus wenig 
             überraschenderweise nicht. Auch sind die Schwarz-Weiß-Reproduktionen der Mikrofilme
             nicht durchwegs von guter Qualität und besonders schlecht, wenn Bleistift oder Buntstift
             gesichert werden sollte. Auf diesen Seiten produzierte die Erkennung nur Buchstabenmüll. Doch
             enthält das präsentierte Korpus große Mengen mit Schreibmaschine verfasster, gedruckter
             und von anderer Hand geschriebener Texte. Für diese ist durch die auf Typesense
             basierende Suche nun eine einfache Möglichkeit, Stellen zu finden.
             </p>
             

            <p>Folgende Eingriffe wurden vorgenommen:</p>
            <ul>
            <li>Die Bilder der Filme wurden in Ordner gruppiert (diese entsprechen den heutigen
            Mappennummern), wobei besonders umfangreiche Konvolute aufgeteilt wurden. Zum Teil 
            wurden dafür die Grenzen der Mikrofilme benutzt.</li>
            <li>Wenn sich weitere Unterteilungskriterien anboten, wurden auch diese
            Übernommen.</li>
            <li>Die Rechte an Schnitzler sind in Österreich längst abgelaufen, weswegen diese
            Reproduktionen problemlos veröffentlicht werden können. Das trifft aber nicht 
            auf alle Briefpartner zu. Korrespondenzpartnerinnen und -partner, die
            zum Stichtag 1. Januar 2024 noch nicht rechtefrei waren, wurden zwar
            digitalisiert, werden aber nicht zugänglich gemacht. Das Betrifft beispielsweise
            Richard Charmatz, 	
Herbert	Cysarz,
 Rudolf	Holzer, 
 Hermann Kesser,
 Max Krell, Jonas Lesser,
	Ernst Lothar, Franz Nabl und
            Fritz von Unruh.</li>
            <li>Rund um die Mappe mit »Frau Bertha Garlan« dürften die Blätter
            vor oder zum Zeitpunkt der Mikroverfilmung durcheinandergekommen sein. 
            Diese Unordung wurde behoben und
            die jeweiligen Digitalisate den entsprechenden
            Werken zugeordnet. Die (Un-)Ordnung des Mikrofilms kann durch das
            Studium der Dateinamen ermittelt werden.</li>
            </ul>
            

            <p>Das Ziel ist nicht, die automatische Texterkennung manuell
            zu korrigieren. Für zentrale Werkmanuskripte der frühen Schaffenszeit
            liegen mit den seit 2011 erscheinenden gedruckten historisch-kritischen Ausgaben (herausgegeben
            von Konstanze Fliedl) verlässliche Umschriften vor. Die jüngsten Erscheinungen sind 
            auch als PDF über <a href="https://library.oapen.org/discover?query=arthur+schnitzler&filtertype_0=language&filtertype_1=publisher&filter_relational_operator_1=authority&filter_relational_operator_0=equals&filter_1=2b386f62-fc18-4108-bcf1-ade3ed4cf2f3&filter_0=German&filtertype=collection&filter_relational_operator=equals&filter=Austrian+Science+Fund+%28FWF%29" target="_blank">OAPEN</a>
            zu laden. Literarische Werke aus der restlichen Zeit werden in Cambridge (Judith Beniston und Andrew Webber) und Wuppertal (Wolfgang Lukas und Michael Scheffel) auf einer gemeinsamen
            Plattform ediert, <a href="https://www.arthur-schnitzler.de/" target="_blank">https://www.arthur-schnitzler.de/</a>. Hier sind
            die Digitalisate ebenfalls transkribiert und in Farbe einsehbar, so dass dieser Teil 
            der Mikroverfilmung obsolet ist. Ähnliches gilt für die Korrespondenzen mit Autorinnen
             und Autoren, die wir auf <a href="https://schnitzler-briefe.acdh.oeaw.ac.at/">https://schnitzler-briefe.acdh.oeaw.ac.at/</a>
            vollständig und mit Gegenbriefen edieren. Auch die Faksimiles wurden von der Cambridge University Library
            neu und in Farbe erstellt.



            



            
            
            </p>
            <div class="text-end">Peter Andorfer, Martin Anton Müller und Laura Untner; 
  <em>Wien, Mai 2024</em>
</div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

{% endblock content %}