{% extends "templates/partials/base.j2" %}
{% block title %}Über das Projekt{% endblock title %}
{% block page_description %}
<meta name="description" content="Hinweise zur Benutzung">
{% endblock page_description %}

{% block content %}
<div class="container">
    
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-7">
            <h2 class="text-center display-8 pb-2">Hinweise zur Benutzung</h2>
        

            <ul>
            <li>Die Struktur des Nachlasses besteht aus einzelnen Mappen, in denen teilweise
            weitere Unterteilungen vorgenommen werden können. Für die digitale Wiedergabe wurde
            eine einzelne Hierarchiestruktur verwendet. Wenn Aufteilungen vorgenommen wurden, 
            werden diese durch nachgestellte Kleinbuchstaben geordnet (auf »A002« folgt »A002a«).
            </li>
            <li>Durch Mausbewegung über das Faksimile werden die Bedienfelder 
            für die Bilddarstellung sichtbar: »+«, »-« für Vergrößerungen und Verkleinerungen,
            das Häuschen für das Zurücksetzen auf die ursprüngliche Größe und der diagonale
            Doppelpfeil für die Vollbildansicht des Bildes.</li>
            <li>Für die Recherche im Schnitzler-Nachlass gibt es vier Orte, die alle ihre
            eigenen Schwerpunkte haben und besseren Überblick geben können:
            <ol>
            <li>Alle heute bestehenden Mappen sind auf der Website der Cambridge University Library 
            gelistet, <a href="https://archivesearch.lib.cam.ac.uk/repositories/2/resources/13395/collection_organization#" target="_blank">archivesearch</a>.
            </li>
            <li>Auf den Projektseiten von »Arthur Schnitzler digital« ist 
            eine Konkordanz des Nachlasses mit den Mikrofilmen <a href="https://www.arthur-schnitzler.de/biobibliographika/nachlassverzeichnis/" 
            target="_blank">einsehbar</a>. Hier wird auch Nachvollziehbar, welche Mappennummern
            sich seither geändert haben. Die Mikrofilme mit den Korrespondenzen sind nicht verzeichnet.</li>
            
            <li>Das inhaltlich detaillierteste Verzeichnis ist das gedruckte Verzeichnis von
            Gerhard Neumann und Jutta Müller, <a href="http://portal.uni-freiburg.de/ndl/personen/achimaurnhammer/schnitzlerarchiv.html/service/files/findbuch-2.pdf/">Der Nachlass Arthur Schnitzlers. Verzeichnis des im Schnitzler-Archiv der Universität Freiburg i.Br.</a>.
            Die Übereinstimmung mit den Nachlassmappen ist durch die Angabe der ursprünglichen Mappennummern gegeben.
            </li>
            <li>
            Der komplette Nachlass einschließlich des Nachlassteiles im Deutschen Literaturarchiv in Marbach am Neckar
            ist in dessen Online-Katalog <a href="https://www.dla-marbach.de/katalog/" target="_blank">Kallías</a> recherchierbar. 
            </li>
            </ol>
            </li>
            <li>Die Nummer des jeweiligen Mikrofilms kann aus dem Dateinamen des jeweiligen Bildes entnommen werden.</li>
            <li>Der Quellcode der Website steht hier zur Verfügung: <a href="https://github.com/arthur-schnitzler/schnitzler-mikrofilme-static">https://github.com/arthur-schnitzler/schnitzler-mikrofilme-static</a>.</li>
            <li>Die gesammelten Texterkennungen können hier gemeinsam heruntergeladen werden: <a href="https://github.com/arthur-schnitzler/schnitzler-mikrofilme-static">https://github.com/arthur-schnitzler/schnitzler-mikrofilme-data</a></li>
            <li>Die Bilder werden gerade für die Langzeitarchivierung <a href="http://www.oeaw.ac.at/acdh/tools/arche" target="_blank">ARCHE</a> der
            Österreichischen Akademie der Wissenschaften vorbereitet und sind in Folge an diesem Ort zur Gänze herunterladbar.</li>
            </ul>


            <a href="" target="_blank">Nachlassverzeichnis</a>

            
            
            </p>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

{% endblock content %}