{% extends "templates/partials/base.j2" %}
{% block title %}Über das Projekt{% endblock title %}
{% block page_description %}
<meta name="description" content="Hinweise zur Benutzung">
{% endblock page_description %}

{% block content %}
<div class="container">
    
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-7">
            <h2 class="text-center display-8 pb-2">Hinweise zur Benutzung</h2>
        

            <p>


            <a href="https://www.arthur-schnitzler.de/biobibliographika/nachlassverzeichnis/" target="_blank">Nachlassverzeichnis</a>

            
            
            </p>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

{% endblock content %}