{% extends "templates/partials/base.j2" %}
{% block title %}Hinweise zur Benutzung{% endblock title %}
{% block page_description %}
<meta name="description" content="Hinweise zur Benutzung">
{% endblock page_description %}

{% block content %}
<div class="container pt-3">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h1 class="text-center pb-2">Hinweise zur Benutzung</h1>
            <ul>
                <p>Die Struktur des Nachlasses besteht aus einzelnen Mappen, die teilweise weiter
                    unterteilt werden können. Für die digitale Wiedergabe wurde eine einzelne
                    Hierarchiestruktur angewandt. Wenn Aufteilungen vorgenommen wurden, werden diese
                    durch nachgestellte Kleinbuchstaben markiert (auf »A002« folgt »A002a«).</p>
                <p>Wenn die Maus über das Faksimile bewegt wird, werden die Bedienfelder für die
                    Bilddarstellung sichtbar: »+« und »-« für Vergrößerungen und Verkleinerungen,
                    ein Häuschen für das Zurücksetzen auf die ursprüngliche Größe und ein diagonaler
                    Doppelpfeil für die Vollbildansicht des Bildes.</p>
                <p>Für die weitere Recherche im Nachlass Schnitzlers gibt es vier Anlaufstellen mit
                    jeweils eigenen Schwerpunkten:</p>
                <ol>
                    <li>Alle heute bestehenden Mappen sind auf der Webseite der Cambridge University
                        Library <a
                            href="https://archivesearch.lib.cam.ac.uk/repositories/2/resources/13395/collection_organization#"
                            target="_blank">gelistet</a>.</li>
                    <li>Auf »Arthur Schnitzler digital« ist eine Konkordanz des Nachlasses mit den
                        Mikrofilmen <a
                            href="https://www.arthur-schnitzler.de/biobibliographika/nachlassverzeichnis/"
                            target="_blank">einsehbar</a>. Hier wird auch nachvollziehbar, welche
                        Mappennummern sich seither geändert haben. Die Mikrofilme mit den
                        Korrespondenzen sind nicht verzeichnet.</li>
                    <li>Das inhaltlich detaillierteste Verzeichnis des Nachlasses ist das gedruckte
                        Verzeichnis von Gerhard Neumann und Jutta Müller: <a
                            href="https://archive.org/details/dernachlassarthu0000gerh/page/n5/mode/2up"
                            >Der Nachlass Arthur Schnitzlers. Verzeichnis des im Schnitzler-Archiv
                            der Universität Freiburg i.Br. befindlichen Materials</a>. Die
                        Übereinstimmung mit den Nachlassmappen ist durch die Angabe der
                        ursprünglichen Mappennummern gegeben.</li>
                    <li>Der komplette Nachlass einschließlich des Teilnachlasses im Deutschen
                        Literaturarchiv in Marbach am Neckar ist im Online-Katalog <a
                            href="https://www.dla-marbach.de/katalog/" target="_blank">Kallías</a>
                        recherchierbar.</li>
                </ol>
                <p>Die Nummer des jeweiligen Mikrofilms kann dem Dateinamen des jeweiligen Bildes
                    entnommen werden.</p>
                <p>Der Quellcode der Webseite steht hier zur Verfügung: <a
                        href="https://github.com/arthur-schnitzler/schnitzler-mikrofilme-static"
                        >https://github.com/arthur-schnitzler/schnitzler-mikrofilme-static</a>. Dort
                    finden sich auch alle Textinhalte.</p>
                <p>Für die Langzeitarchivierung werden die Bilder für den Import in <a
                        href="http://www.oeaw.ac.at/acdh/tools/arche" target="_blank">ARCHE</a>
                    (Österreichische Akademie der Wissenschaften) vorbereitet. In Folge werden sie
                    an diesem Ort zur Gänze downloadbar sein.</p>
                <p>Zwei Sonderfälle finden sich in den Mikrofilmaufnahmen: Einerseits besaß
                    Schnitzler (oder Heinrich Schnitzler) nicht nur die Briefe Schnitzlers AN Gustav
                    Schwarzkopf, sondern auch die Briefe Hofmannsthals an denselben. Diese
                    Korrespondenzstücke sind enthalten. Weiters wurden von der Königlichen Bibliothek
                    in Kopenhagen Korrespondenzstücke an Brandes nicht nur von Schnitzler, sondern
                    auch von Richard Beer-Hofmann, Paul Goldmann, Hugo von Hofmannsthal und Jakob
                    Wassermann aufgenommen.</p>
            </ul>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

{% endblock content %}