{% extends "templates/partials/base.j2" %}
{% block title %}Zitiervorschlag{% endblock title %}
{% block page_description %}
<meta name="description" content="Zitiervorschlag">
{% endblock page_description %}

{% block content %}
<div class="container">
    
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-7">
            <h2 class="text-center display-8 pb-2">Zitiervorschlag</h2>
            <p>Um Inhalte dieser Seite zu zitieren, empfehlen wir die Angabe von Titel, Mappennummer und Seitenzahl vor der bibliografischen
            Angabe der Webseite, beispielsweise:</p>
            <p><i>Aphoristisches, Mappe A2a, S. 10, in: Arthur Schnitzler: Mikroverfilmung des Cambridger Nachlasses. Hg.
            Peter Andorfer, Martin Anton Müller und Laura Untner, Austrian Centre for Digital Humanities and Cultural Heritage, Wien 2024, https://schnitzler-mikrofilme.acdh.oeaw.ac.at/.</i></p>
        <p>Durch die Angabe der Mappennummer ist die Konkordanz mit dem Mikrofilm und dem Nachlass auch ohne
        die vorliegende Webseite gesichtert.</p>
    </div>
</div>

{% endblock content %}