{% extends "templates/partials/base.j2" %}
{% block title %}Zitiervorschlag{% endblock title %}
{% block page_description %}
<meta name="description" content="Zitiervorschlag">
{% endblock page_description %}

{% block content %}
<div class="container pt-3">
    
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h1 class="text-center pb-2">Zitiervorschlag</h1>
            <p>Um Inhalte dieser Seite zu zitieren, empfehlen wir die Angabe von Mappennummer, Mappentitel und Seitenzahl vor der bibliografischen
            Angabe der Webseite. Die vorgeschlagene URL führt zur Mappe, beispielsweise:</p>
            <p><i>A2: Aphoristisches, S. 10, in: Arthur Schnitzler: Mikroverfilmung des Cambridger Nachlasses. Hg.
            Peter Andorfer, Martin Anton Müller und Laura Untner, Austrian Centre for Digital Humanities and Cultural Heritage, Wien 2024, https://schnitzler-mikrofilme.acdh.oeaw.ac.at/A002.html.</i></p>
        <p>Durch die Angabe der Mappennummer ist die Konkordanz mit den Mikrofilmen auch ohne
        die vorliegende Webseite gesichtert. Weitgehend gesichert ist auch die Konkordanz mit dem Nachlass in der Cambridge University Library.</p>
    </div>
</div>

{% endblock content %}